[submodule "anki/victor"]
	path = anki/victor
	url = https://github.com/kercre123/victor
	branch = kirkstone
[submodule "poky/poky"]
	path = poky/poky
	url = https://github.com/yoctoproject/poky
	branch = scarthgap
[submodule "poky/meta-openembedded"]
	path = poky/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded
	branch = scarthgap
